In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

from sklearn.linear_model import LinearRegression

importing data

In [2]:
df = pd.read_csv(r"C:\Users\Dell\Desktop\fliprobonotes\StateandUT_Wise_population.csv")

In [3]:
df

,SR.No.,State,Population,Male Literacy Rate,Female Literacy Rate,Average Literacy Rate as per the state,Area(km2)
0,1,Andaman & Nicobar Islands,"3,80,581",90.11,81.84,86.27,"8,249"
1,2,Andhra Pradesh,"8,45,80,777",73.40,59.50,66.40,"1,62,975"
2,3,Arunachal Pradesh,"13,83,727",73.69,59.57,66.95,"83,743"
3,4,Assam,"3,12,05,576",90.10,81.20,85.90,"78,438"
4,5,Bihar,"10,40,99,452",79.70,60.50,70.90,"94,163"
5,6,Chandigarh,"10,55,450",85.40,68.70,77.30,114
6,7,Chhattisgarh,"2,55,45,198",90.54,81.38,86.43,"1,35,192"
7,8,Dadra and Nagar Haveli,"3,43,709",86.46,65.93,77.65,603
8,9,Daman and Diu,"2,43,247",91.48,79.59,87.07,112
9,10,Delhi,"1,67,87,941",93.70,82.40,88.70,"1,484"
10,11,Goa,"14,58,545",92.81,81.84,87.40,"3,702"
11,12,Gujarat,"6,04,39,692",89.50,74.80,82.40,"1,96,024"
12,13,Haryana,"2,53,51,462",88.00,71.30,80.40,"44,212"
13,14,Himachal Pradesh,"68,64,602",92.90,80.50,86.60,"55,673"
14,15,Jammu and Kashmir,"1,25,41,302",85.70,68.00,77.30,"42,241(55,538)"
15,16,Jharkhand,"3,29,88,134",83.00,64.70,74.30,"79,716"
16,17,Karnataka,"6,10,95,297",83.40,70.50,77.20,"1,91,791"
17,18,Kerala,"3,34,06,061",97.40,95.20,96.20,"38,863"
18,19,Lakshadweep,"64,473",96.11,88.25,92.28,32
19,20,Madhya Pradesh,"7,26,26,809",81.20,65.50,73.70,"3,08,252"
20,21,Maharashtra,"11,23,74,333",90.70,78.40,84.80,"3,07,713"
21,22,Manipur,"28,55,794",86.49,73.17,79.85,"22,327"
22,23,Meghalaya,"29,66,889",77.17,73.78,75.48,"22,429"
23,24,Mizoram,"10,97,206",93.72,89.40,91.58,"21,081"
24,25,Nagaland,"19,78,502",83.29,76.69,80.11,"16,579"
25,26,Orissa,"4,19,74,218",84.00,70.30,77.30,"1,55,707"
26,27,Puducherry,"12,47,953",92.12,81.22,86.55,479
27,28,Punjab,"2,77,43,338",88.50,78.50,83.70,"50,362"
28,29,Rajasthan,"6,85,48,437",80.80,57.60,69.70,"3,42,239"
29,30,Sikkim,"6,10,577",87.29,76.43,82.20,"7,096"
30,31,Tamil Nadu,"7,21,47,030",87.90,77.90,82.90,"1,30,058"
31,32,Telangana,"3,51,93,978",80.50,65.10,72.80,"1,12,077"
32,33,Tripura,"36,73,917",92.18,83.15,87.75,"10,491"
33,34,Uttar Pradesh,"19,98,12,341",94.30,80.70,87.60,"2,40,928"
34,35,Uttarakhand,"1,00,86,292",81.80,63.40,73.00,"53,483"
35,36,West Bengal,"9,12,76,115",84.80,76.10,80.50,"88,752"

From the above we can see that there are total 36 records of state and union teritory of India