In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [68]:
import selenium
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import requests
import time

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
driver=webdriver.Chrome(r"C:\Users\Dell\Desktop\fliprobonotes\chromedriver.exe")

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [5]:
# creating empty list for scraping the data
Rank = []
Name = []
Artist = []
Date = []
Views = []

In [6]:
# scraping Rank of the videos
try:
    for i in driver.find_elements("xpath",'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")
        
# Scraping Name of the videos
try:
    for i in driver.find_elements("xpath",'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")
        
# Scraping Artist of the videos
try:
    for i in driver.find_elements("xpath",'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")
        
# Scraping Upload_Date of the videos
try:
    for i in driver.find_elements("xpath",'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")
        
# Scraping Views of the videos
try:
    for i in driver.find_elements("xpath",'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [7]:
# creating DataFrame for scraped data
Wiki = pd.DataFrame({})
Wiki['Rank'] = Rank
Wiki['Name'] = Name
Wiki['Artist'] = Artist
Wiki['Upload Date'] = Date
Wiki['Views (in Billions)'] = Views

# removing stray numbers from Name column
Wiki.Name = Wiki.Name.apply(lambda x:x[:-4].strip('"'))
Wiki

,Rank,Name,Artist,Upload Date,Views (in Billions)
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,12.27,"June 17, 2016"
1,2.,Despacito,Luis Fonsi,8.08,"January 12, 2017"
2,3.,Johny Johny Yes Papa,LooLoo Kids,6.61,"October 8, 2016"
3,4.,Bath Song,Cocomelon – Nursery Rhymes,6.01,"May 2, 2018"
4,5.,Shape of You,Ed Sheeran,5.91,"January 30, 2017"
5,6.,See You Again,Wiz Khalifa,5.78,"April 6, 2015"
6,7.,Phonics Song with Two Words,ChuChu TV,5.15,"March 6, 2014"
7,8.,Wheels on the Bus,Cocomelon – Nursery Rhymes,4.92,"May 24, 2018"
8,9.,Uptown Funk,Mark Ronson,4.83,"November 19, 2014"
9,10.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,4.81,"February 27, 2018"
10,11.,Gangnam Style,Psy,4.69,"July 15, 2012"
11,12.,Masha and the Bear – Recipe for Disaster,Get Movies,4.53,"January 31, 2012"
12,13.,Dame Tu Cosita,El Chombo,4.23,"April 5, 2018"
13,14.,Sugar,Maroon 5,3.82,"January 14, 2015"
14,15.,Axel F,Crazy Frog,3.75,"June 16, 2009"
15,16.,Roar,Katy Perry,3.73,"September 5, 2013"
16,17.,Counting Stars,OneRepublic,3.72,"May 31, 2013"
17,18.,Sorry,Justin Bieber,3.63,"October 22, 2015"
18,19.,Thinking Out Loud,Ed Sheeran,3.55,"October 7, 2014"
19,20.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,3.49,"June 25, 2018"
20,21.,Waka Waka (This Time for Africa),Shakira,3.47,"June 4, 2010"
21,22.,Dark Horse,Katy Perry,3.45,"February 20, 2014"
22,23.,Faded,Alan Walker,3.40,"December 3, 2015"
23,24.,Let Her Go,Passenger,3.38,"July 25, 2012"
24,25.,Girls Like You,Maroon 5,3.37,"May 31, 2018"
25,26.,Perfect,Ed Sheeran,3.37,"November 9, 2017"
26,27.,Bailando,Enrique Iglesias,3.33,"April 11, 2014"
27,28.,Lean On,Major Lazer,3.33,"March 22, 2015"
28,29.,Humpty the train on a fruits ride,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.30,"January 26, 2018"
29,30.,Lakdi Ki Kathi,Jingle Toons,3.30,"June 14, 2018"

In [8]:
print(len(Rank),
len(Name),
len(Artist),
len(Date),
len(Views))

30 30 30 30 30

In [9]:
driver.close()

3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [10]:
driver=webdriver.Chrome(r"C:\Users\Dell\Desktop\fliprobonotes\chromedriver.exe")

In [11]:
url = 'http://statisticstimes.com/'
driver.get(url)

In [12]:
# creating empty list
Name = []
Description = []

In [22]:
# clicking on Economy button
driver.find_element("xpath","//div[@class='navbar']/div[2]/button").click()

# clicking on India
driver.find_element("xpath","//div[@class='dropdown-content']/a[3]").click()
time.sleep(3)

# clicking on GDP of Indian Economy
GDP = driver.find_element("xpath","/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
time.sleep(3)

In [23]:
# creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

In [25]:
# scraping Rank
try:
    for i in driver.find_elements("xpath","//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
# scraping State
try:
    for i in driver.find_elements("xpath","//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
    
# scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements("xpath","//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")
    
# scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements("xpath","//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
    
# scraping Share (18-19)
try:
    for i in driver.find_elements("xpath","//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
    
# scraping GDP $ billion
try:
    for i in driver.find_elements("xpath","//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [26]:
# creating DataFrame from the scraped data
GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP at current price (19-20)'] = GSDP1
GDP['GSDP at current price (18-19)'] = GSDP2
GDP['Share (18-19)'] = Share
GDP['GDP($ billion)'] = GDP_billion
GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share (18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
127,29,Sikkim,"28,391","25,141",0.15%,"17,060"
128,30,Nagaland,-,"24,534",0.15%,-
129,31,Arunachal Pradesh,-,"22,488",0.13%,-
130,32,Mizoram,"24,424","20,947",0.13%,"17,797"
131,33,Andaman & Nicobar Islands,-,-,-,-

In [27]:
driver.close()

6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [28]:
driver=webdriver.Chrome(r"C:\Users\Dell\Desktop\fliprobonotes\chromedriver.exe")

In [29]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [30]:
# creating empty lists for scraping data
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [31]:
# Scraping Book_name
book_name=driver.find_elements('xpath',"//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book_name:
    if i.text is None:
        Book_name.append('--')
    else:
        Book_name.append(i.text)

In [32]:
# Scraping Author_name
author_name=driver.find_elements('xpath',"//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author_name:
    if i.text is None:
        Author_name.append('--')
    else:
        Author_name.append(i.text)

In [33]:
# Scraping Volumes_sold
volumes_sold=driver.find_elements('xpath',"//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volumes_sold:
    if i.text is None:
        Volumes_sold.append('--')
    else:
        Volumes_sold.append(i.text)
        
# Scraping Author_name
publisher=driver.find_elements('xpath',"//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    if i.text is None:
        Publisher.append('--')
    else:
        Publisher.append(i.text)
        
# Scraping Genre
genre=driver.find_elements('xpath',"//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    if i.text is None:
        Genre.append('--')
    else:
        Genre.append(i.text)

In [34]:
Top_selling_book=pd.DataFrame({})
Top_selling_book['Book_name']=Book_name
Top_selling_book['Author_name']=Author_name
Top_selling_book['Volumes_sold']=Volumes_sold
Top_selling_book['Publisher']=Publisher
Top_selling_book['Genre']=Genre
Top_selling_book

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [35]:
driver.close()

2. Scrape the details team India’s internationalfixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [36]:
driver=webdriver.Chrome(r"C:\Users\Dell\Desktop\fliprobonotes\chromedriver.exe")
url = 'https://www.bcci.tv/'
driver.get(url)

In [40]:
try:
    btn=driver.find_element('xpath',"//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li/a")
    driver.get(btn.get_attribute("href"))
    time.sleep(3)
except NoSuchElementException:
    print('exception handeled')

exception handeled

In [41]:
# creating empty lists for scraping the data
Match_Title = []
Series = []
Place = []
Date = []
Time = []

In [42]:
for i in driver.find_elements('xpath',"//div[@class='fixture__format-strip']/span[@class='u-unskewed-text fixture__format']"):
    Match_Title.append(i.text)
    
for i in driver.find_elements('xpath',"//div[@class='fixture__format-strip']/span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    Series.append(i.text)
    
for i in driver.find_elements('xpath',"//div[@class='fixture__description u-unskewed-text']/p/span"):
    Place.append(i.text)
        
for i in driver.find_elements('xpath',"//span[@class='fixture__datetime tablet-only']/strong[1]"):
    Date.append(i.text.replace('\n',' '))

date=[i.split(' ',3)[:3] for i in Date]
date=[' '.join(i) for i in date]
Time=[i.split(' ',3)[-1] for i in Date]
fixture=pd.DataFrame({'Match Title': Match_Title,
                          "Series": Series,
                          "Place": Place,
                          "Date": date,
                          "Time": Time})
fixture

Empty DataFrame
Columns: [Match Title, Series, Place, Date, Time]
Index: []

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [43]:
driver=webdriver.Chrome(r"C:\Users\Dell\Desktop\fliprobonotes\chromedriver.exe")
url = ("https://github.com/")
driver.get(url)

In [53]:
try:
    Explore=driver.find_element('xpath',"/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary").click()
    Treading=driver.find_element('xpath',"/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a").click()
except NoSuchElementException:
    print('handeld')

handeld

In [54]:
# Creating emplty list 
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [55]:
#scraping Repository_title
repository_title=driver.find_elements("xpath","//h1[@class='h3 lh-condensed']")
for i in repository_title:
    if i.text is None:
        Repository_title.append('--')
    else:
        Repository_title.append(i.text)

In [56]:
#scraping Repository_description
repository_description=driver.find_elements("xpath","//p[@class='col-9 color-text-secondary my-1 pr-4']")
for i in repository_description:
    if i.text is None:
        Repository_description.append('--')
    else:
        Repository_description.append(i.text)
        

#scraping Contributors_count
contributors_count=driver.find_elements("xpath","//div[@class='f6 color-text-secondary mt-2']/a[2]")
for i in contributors_count:
    if i.text is None:
        Contributors_count.append('--')
    else:
        Contributors_count.append(i.text)
        

#scraping Language_used
language_used=driver.find_elements("xpath","//div[@class='f6 color-text-secondary mt-2']/span[1]")
for i in language_used:
    if i.text is None:
        Language_used.append('--')
    else:
        Language_used.append(i.text)

In [57]:
Treding_rep=pd.DataFrame({})
Treding_rep['Repository_title']= Repository_title
Treding_rep['Repository_description']= Repository_description
Treding_rep['Contributors_count']= Contributors_count
Treding_rep['Language_used']= Language_used
Treding_rep

Empty DataFrame
Columns: [Repository_title, Repository_description, Contributors_count, Language_used]
Index: []

In [ ]:
driver.close()

5. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [60]:
driver=webdriver.Chrome(r"C:\Users\Dell\Desktop\fliprobonotes\chromedriver.exe")

In [82]:
url = "https://www.billboard.com/"
driver.get(url)
time.sleep(6)

In [74]:
# clicking on option button
elem=driver.find_elements('xpath',"//a[@class='header__main-link header__main-link--charts']")
if len(elem) > 0:
    elem[0].click()

In [75]:
# creating empty lists
Song_Name = []
Artist_Name =[]
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [79]:
# getting urls for top 100 songs
urls = driver.find_elements('xpath',"//li[@class='header__submenu__list__element']//a")
#page_url = urls.get_attribute("href")
#driver.get(page_url)
time.sleep(4)

In [80]:
# scraping data of song names
for i in driver.find_elements('xpath',"//span[@class='chart-element__information__song text--truncate color--primary']"):
    Song_Name.append(i.text)
    
# scraping data of artist names
for i in driver.find_elements('xpath',"//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    Artist_Name.append(i.text)
    
# scraping data of last week ranks
for i in driver.find_elements('xpath',"//div[@class='chart-element__meta text--center color--secondary text--last']"):
    Last_week_rank.append(i.text)
    

# scraping data of peak ranks
for i in driver.find_elements('xpath',"//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    Peak_rank.append(i.text)       
    
    
# scraping data of weeks on board
for i in driver.find_elements('xpath',"//div[@class='chart-element__meta text--center color--secondary text--week']"):
    Weeks_on_board.append(i.text)

In [81]:
# creating dataframe for scraped data
billiboard = pd.DataFrame({})
billiboard['Name'] = Song_Name
billiboard['Artist'] = Artist_Name
billiboard['Last Week Rank'] = Last_week_rank
billiboard['Peak Rank'] = Peak_rank
billiboard['Weeks on board'] = Weeks_on_board
billiboard

Empty DataFrame
Columns: [Name, Artist, Last Week Rank, Peak Rank, Weeks on board]
Index: []

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [83]:
driver=webdriver.Chrome(r"C:\Users\Dell\Desktop\fliprobonotes\chromedriver.exe")

In [84]:
url = ("https://www.imdb.com/list/ls095964455/")
driver.get(url)

In [85]:
# creating empty lists
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [87]:
# scraped data of Names
for i in driver.find_elements('xpath',"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
    
# scraped data of Year span
for i in driver.find_elements('xpath',"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
    
# scraped data of Genre
for i in driver.find_elements('xpath',"//span[@class='genre']"):
    Genre.append(i.text)
    
    
# scraped data of Run time
for i in driver.find_elements('xpath',"//span[@class='runtime']"):
    Run_time.append(i.text)
    
    
# scraped data of Ratings
for i in driver.find_elements('xpath',"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
    
# scraped data of Votes
for i in driver.find_elements('xpath',"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [88]:
# creating dataframe for scraped data
TV_Series = pd.DataFrame({})
TV_Series['Name'] = Name
TV_Series['Year Span'] = Year_span
TV_Series['Genre'] = Genre
TV_Series['Run Time'] = Run_time
TV_Series['Ratings'] = Ratings
TV_Series['Votes'] = Votes
TV_Series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,123,475"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,211,345"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,007,174"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"297,159"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"256,098"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,741"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"62,627"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"202,993"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"42,051"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"250,826"

In [89]:
driver.close()

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [124]:
driver=webdriver.Chrome(r"C:\Users\Dell\Desktop\fliprobonotes\chromedriver.exe")
url = (" https://archive.ics.uci.edu/")
driver.get(url)

In [125]:
view_dataste= driver.find_element('xpath',"/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
view_dataste.click()
time.sleep(4)

In [126]:
# creating empty lists for scraping data
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [127]:
#scraping Dataset name
data_name= driver.find_elements('xpath',"//p[@class='normal']/b/a[1]")
for i in data_name:
    if i.text is None :
        Dataset_name.append("--") 
    else:
        Dataset_name.append(i.text)

time.sleep(4)        
#Scraping data Type
data_type=driver.find_elements('xpath',"//table[@border='1']/tbody/tr/td[2]/p")
for i in data_type[1:]:
    if i.text is None :
        Data_type.append("--") 
    else:
        Data_type.append(i.text)

time.sleep(4) 
#Scraping Task
task=driver.find_elements('xpath',"//table[@border='1']/tbody/tr/td[3]/p")
for i in task[1:]:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
        
time.sleep(4) 
#Scraping Attribute_type
attribute_type=driver.find_elements('xpath',"//table[@border='1']/tbody/tr/td[4]/p")
for i in attribute_type[1:]:
    if i.text is None :
        Attribute_type.append("--") 
    else:
        Attribute_type.append(i.text)

time.sleep(4)         
#Scraping No_of_instances
no_of_instances=driver.find_elements('xpath',"//table[@border='1']/tbody/tr/td[5]/p")
for i in no_of_instances[1:]:
    if i.text is None :
        No_of_instances.append("--") 
    else:
        No_of_instances.append(i.text)

time.sleep(4)         
#Scraping No_of_attribute
no_of_attribute=driver.find_elements('xpath',"//table[@border='1']/tbody/tr/td[6]/p")
for i in no_of_attribute[1:]:
    if i.text is None :
        No_of_attribute.append("--") 
    else:
        No_of_attribute.append(i.text)

time.sleep(4) 
#Scraping Year
year=driver.find_elements('xpath',"//table[@border='1']/tbody/tr/td[7]/p")
for i in year[1:]:
    if i.text is None :
        Year.append("--") 
    else:
        Year.append(i.text)
        
data_dataset=pd.DataFrame({})
data_dataset['Dataset_name']= Dataset_name
data_dataset['Data_type']= Data_type
data_dataset['Task']= Task
data_dataset['Attribute_type']= Attribute_type
data_dataset['No_of_instances']= No_of_instances
data_dataset['No_of_attribute']= No_of_attribute
data_dataset['Year']= Year

In [128]:
data_dataset

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [129]:
driver.close()